<!--References https://www.codinglabweb.com/search/label/HTML%20and%20CSS -->


<div class="maincontainer">

  <div class="container1">
    <div class="card1">
      <div class="front1">
        Hello
      </div>
      <div class="back1">InfyKiddo</div>
    </div>
  </div>


  <div class="container2">
    <div class="card2">
      <div class="front2">
        Hello

      </div>
      <div class="back2">InfyKiddo</div>
    </div>
  </div>


  <div class="container3">
    <div class="card3">
      <div class="front3">
        Hello

      </div>
      <div class="back3">InfyKiddo</div>
    </div>
  </div>

</div>
