<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML Accordion</title>
</head>
<app-nav></app-nav>
<app-sidebar></app-sidebar>
<body>
  <div class="head">
    <h1>FAQ's</h1>
  </div>
  <div class="faq_body">
    <details>
      <summary>App Overview</summary>
      <div>
        <p>Elit excepteur aliqua tempor sunt in magna do sint aute reprehenderit aute magna. </p>
      </div>
    </details>
    <details>
      <summary>How to check my child's progress</summary>
      <div>
        <p>Elit excepteur aliqua tempor sunt in magna do sint aute reprehenderit aute magna.</p>
      </div>
    </details>
    <details>
      <summary>How to change Payment method</summary>
      <div>
        <p>Elit excepteur aliqua tempor sunt in magna do sint aute reprehenderit aute magna. </p>
      </div>
    </details>
    <details>
      <summary>Sound doesn't work</summary>
      <div>
        <p>Elit excepteur aliqua tempor sunt in magna do sint aute reprehenderit aute magna. </p>
      </div>
    </details>
    <details>
      <summary>How many children I can add to my account</summary>
      <div>
        <p>Elit excepteur aliqua tempor sunt in magna do sint aute reprehenderit aute magna. </p>
      </div>
    </details>

  </div>

</body>
</html>
<app-footer></app-footer>
