<app-tsidebar></app-tsidebar>
<app-nav></app-nav>
<body>

  <div class="content">


    <div class="card one">
      <div class="top">
        <div class="title">Kids Video Playlist</div>

      </div>
      <div class="info">Limited features you will get on this package or plan</div>
      <div class="details">

        <button>View More</button>
      </div>
    </div>

    <div class="card two">
      <div class="top">
        <div class="title">Kids Video Playlist</div>

      </div>
      <div class="info">Only some features you will get on this package or plan</div>
      <div class="details">

        <button>View More</button>


      </div>
    </div>
    <div class="card three">
      <div class="top">
        <div class="title">Kids Video Playlist</div>

      </div>
      <div class="info">All features you will get on this package or plan</div>
      <div class="details">


        <button>View More</button>

      </div>
    </div>
    <div class="card four">
      <div class="top">
        <div class="title">Kids Video Playlist</div>

      </div>
      <div class="info">All features you will get on this package or plan</div>
      <div class="details">

        <button>View More</button>
      </div>
    </div>
    <div class="card five">
      <div class="top">
        <div class="title">Kids Video Playlist</div>

      </div>
      <div class="info">All features you will get on this package or plan</div>
      <div class="details">


        <button>View More</button>

      </div>
    </div>
    <div class="card six">
      <div class="top">
        <div class="title">Kids Video Playlist</div>

      </div>
      <div class="info">All features you will get on this package or plan</div>
      <div class="details">

        <button>View More</button>

      </div>
    </div>


  </div>
</body>
<app-footer></app-footer>

<p>tcourses works!</p>
