h1 {
  text-align: center;
  padding-top: 20px;
}

.register {
  background-color: white;
  width: 500px;
  height: 250px;
  align-items: center;
  margin-top: 150px;
  box-shadow: 8px 8px 8px 8px;
  align-content: center;
}


.parent {
  margin-left: 148px;
}

.trainer {
  margin: 70px 20px;
}
