<!--References https://www.kidsacademy.mobi/
               https://www.vedantu.com/
  https://edurev.in/studytube/How-EduRev-App-helps-you-prepare-like-Anudeep-Duri/40971c3a-fc9c-4188-acff-32b4a9dba7c0_v?gclid=CjwKCAjw7IeUBhBbEiwADhiEMcK8ZlUCqKUwrZw75P0WcjxrgHx6WEa3pN5B7bXQjJzZ1dJz-B8ELRoCZ6IQAvD_BwE-->
<link rel="stylesheet" type="text/css" href="" />
<app-mav-menu></app-mav-menu>
<app-image-slider></app-image-slider>
<section class="home">
  <div class="row">
    <img src="../../assets/img/h4.jpg">

    <div class="homecontent">
      <h3> Start Learning For Bright Future With</h3> <h1>InfyKiddoFun</h1>
      <a routerLink="joinnow" class="btn btn-lg btn-primary">Join Now</a>
      <br>
      <br>
      <p>Our mission is to provide learning for everyone and anywhere</p>
    </div>

  </div>
</section>
<br>
<br>
<br>

<div class="step">
  <img src="../../assets/img/Image3.jpeg">
  <h1>Why InfyKiddoFun</h1>
  <br />
  <ul>
    <p>Learners </p>
    <p>Parents </p>
    <p>Teachers </p>
  </ul>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-cards></app-cards>
<app-footer></app-footer>
