<!--References https://youtu.be/z3Y5gJWmVVU -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playlist</title>

</head>
<app-nav></app-nav>
<app-sidebar></app-sidebar>

<body>
  <h1>Kids Video Playlist</h1>
  <div class="container">

    <div class="main-video-container">
      <video src="../../assets/img/Rain (1).mp4" loop controls class="main-video"></video>
      <h3 class="main-vid-title">First video</h3>
    </div>

    <div class="video-list-container">

      <div class="list active">
        <video src="../../assets/img/Rain (1).mp4" class="list-video"></video>
        <h3 class="list-title">1st video</h3>
      </div>

      <div class="list">
        <video src="../../assets/img/twostar.mp4" class="list-video"></video>
        <h3 class="list-title">2nd video</h3>
      </div>

      <div class="list">
        <video src="../../assets/img/twostar.mp4" class="list-video"></video>
        <h3 class="list-title">3rd video</h3>
      </div>

      <div class="list">
        <video src="../../assets/img/twostar.mp4" class="list-video"></video>
        <h3 class="list-title">4th video</h3>
      </div>

      <div class="list">
        <video src="../../assets/img/twostar.mp4" class="list-video"></video>
        <h3 class="list-title">5th video</h3>
      </div>

      <div class="list">
        <video src="../../assets/img/twostar.mp4" class="list-video"></video>
        <h3 class="list-title">6th video</h3>
      </div>

      <div class="list">
        <video src="../../assets/img/twostar.mp4" class="list-video"></video>
        <h3 class="list-title">7th video</h3>
      </div>

      <div class="list">
        <video src="../../assets/img/twostar.mp4" class="list-video"></video>
        <h3 class="list-title">8th video</h3>
      </div>

      <div class="list">
        <video src="../../assets/img/twostar.mp4" class="list-video"></video>
        <h3 class="list-title">9th video</h3>
      </div>

    </div>

  </div>













  <!-- custom js file link  -->
  <script>
  let videoList = document.querySelectorAll('.video-list-container .list');

    videoList.forEach(vid => {
      vid.onclick = () => {
        videoList.forEach(remove => { remove.classList.remove('active') });
        vid.classList.add('active');
        let src = vid.querySelector('.list-video').src;
        let title = vid.querySelector('.list-title').innerHTML;
        document.querySelector('.main-video-container .main-video').src = src;
        document.querySelector('.main-video-container .main-video').play();
        document.querySelector('.main-video-container .main-vid-title').innerHTML = title;
      };
    });</script>

</body>
</html>
<app-footer></app-footer>
